body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.container1 {
  padding: 5%;
  background-image: url('images/bg-hero-desktop.svg');
}
.first-row {
  padding: 1% 0 5% 0;
}
.logo {
  width: 100px;
  height: 15px;
}
.main-heading {
  padding-top: 10%;
  font-weight: 700;
  font-size: 32px;
}
.sub-heading {
  font-size: 16px;
}
.mockups-image {
  width: 400px;
  height: 300px;
}
.btn {
  font-size: 12px;
  border-radius: 20px;
}
.btn-pink {
  color: #fff;
  background-color: #ff52bf;
}
.tif-button {
  text-align: right;
}
.btn-top {
  border-style: solid;
  border-color: #f0f0f0;
  background-color: #fff;
  width: 150px;
}
.sub-container2 {
  border-style: solid;
  border-width: 2px;
  border-color: #f0f0f0;
  border-radius: 10px;
  margin: 0 7%;
  padding: 20px 0 20px 20px;
}
.call-to-action {
  padding: 40px 0 0 30px;
  font-weight: 700;
  font-size: 22px;
}
.cta-body {
  padding: 0 0 40px 30px;
  font-weight: 400;
  font-size: 14px;
  color: #808d99;
}
.grow-together, .flowing-conversation, .your-users {
  padding: 20px 0 20px 40px;
  width: 300px;
  height: 230px;
}
.btn-middle {
  margin-top: 5%;
  width: 180px;
}
.btn-bottom {
  height: 42px;
  width: 250px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}
